body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: "Decima";
}

@font-face {
  font-family: "Decima";
  src: url("../fonts/Decima Mono X.otf");
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 100vh;
  text-align: center;
}
.welcome .text-with-title {
  width: 80vw;
}
.text-with-title__title {
  font-size: calc(3em + 1vw);
}
.text-with-title__content {
  font-size: calc(1em + 1vw);
}
@media screen and (min-width: 860px) {
  .welcome .text-with-title {
    width: 60vw;
  }
}
@media screen and (min-width: 1200px) {
  .welcome .text-with-title {
    width: 40vw;
  }
}

select {
  all: unset;
  position: absolute;
  top: 10vh;
  right: 10vw;
  border: none;
  border-bottom: 1px solid;
}

.countrySelect::after {
  content: "";
  border-bottom: 1.5px solid black;
  border-right: 1.5px solid black;
  transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  top: 10vh;
  right: 10vw;
}
